<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>Homepage</title>
    </head>
    <body>
        <div class="top-container">
            <form action="convert-mp3" method="POST" id="form">
                <h1><i class="fa fa-headphones" aria-hidden="true"></i>Yt2MP3 Converter</h1>
            </form>
        </div>

        <div class="bottom-container">
            <a href="/singleuse" id="once-button" class="button">Convert</a>
            <a href="/library" id="library-button" class="button">Library</a>
        </div>

    </body>
</html>